.aside-container{
    width: 35px;
    height: 100%;
    background-color: #222222;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 102;
}
.aside-container p{
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #999999;
}
#shop-number{
    font-size: 11px;
    font-family: NotoSans-Bold, NotoSans;
    font-weight: bold;
    color: #31B3EC;
}
.ab{
    margin-top: 220px;
}