/* tab页 */
.body-tab-nav{
    width: 1196px;
    height: 42px;
    margin: 0 122px;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-bottom: 1px solid #31B3EC;
}
.body-tab-content{
    width: 1196px;
    height: 190px;
    margin: 0 122px;
    position: relative;
}
.body-tab-img{
    width: 1196px;
    margin: 0 122px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.body-tab-img1,.body-tab-img2{
    display: block;
    margin: 0 auto;
}
.body-tab-img1{
    width: 750px;
    height: 1761px;
}
.body-tab-img2{
    width: 750px;
    height: 1147px;
}
.body-tab-img2{
    width: 750px;
    height: 1761px;
}
.body-tab-nav li{
    display: block;
    float: left;
    width: 120px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    font-family: NotoSansSC-Regular, NotoSansSC;
    font-weight: 400;
    color: #555555;
    z-index: 101;
}
.active{
    background: #31B3EC;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
}
.body-tab-content ul{
    display: block;
    float: left;
    margin: 45px 0 0 100px;
}
.body-tab-content ul:nth-child(1){
    margin: 10px 0 0 0;
}
.body-tab-content ul li{
    display: block;
    height: 35px;
}
.body-tab-content ul li span{
    line-height: 35px;
}
.body-tab-content ul li span:nth-child(1){
    display: inline-block;
    width: 100px;
    text-align: right;
}
.body-tab-sp1{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
}
.body-tab-sp2{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #222222;
}
.body-content-right-bottom{
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #555555;
    margin-right: 20px;
}
.tab-msg-title{
    font-size: 12px;
    font-family: NotoSans-Bold, NotoSans;
    font-weight: bold;
    color: #555555;
    position: absolute;
    left: 20px;
    top: 25px;
}
.tab-msg-name{
    display: block;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
}
.tab-msg-content{  
    margin-left: 14px;
    display: block;
    font-size: 12px;
    font-family: NotoSans;
    color: #222222;
}
.tab-msg-li{
    width: 1192px;
    height: 20px;
    margin: 0 0 10px 0;
    padding-left: 238px;
}
.tab-msg-li span{
    display: block;
    height: 20px;
    line-height: 20px;
}

.tab-li-container{
    width: 1196px;
    height: auto;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.tab-li-container li span{
    margin-top: -5px;
}
.tab-title-sec{
    width: 1174px;
    height: 40px;
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    line-height: 40px;
    font-size: 14px;
    font-family: NotoSans;
    color: #666666;
    padding-left: 20px;
    border-left: 2px solid #31B3EC;
}
.setUl2-span-name{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
}
.setUl2-span-content{ 
    font-size: 12px;
    font-family: NotoSans;
    color: #222222;
}
.setUl2-container{
    width: 1196px;
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.setUl2-li{
    height: 20px;
}
.setUl2-li span{
    line-height: 20px;
}
.setUl2-container li:last-child{
    margin-bottom: 50px;
}
.setUl4-p{
    font-size: 12px;
    font-family: NotoSans;
    color: #222222;
    margin: 10px 0 10px 20px;
}
.setUl3-container{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #222222;
}
.setUl3-container-p{
    font-size: 14px;
    font-family: NotoSansSC-Regular, NotoSansSC;
    font-weight: 400;
    color: #31B3EC;
    margin-top: 20px;
}
.setUl3-container p{
    margin-left: 20px;
}
.setUl3-container2-p{
    margin: 20px 0 0 0;
}
.setUl3-container2-p2{
    margin: 0 0 20px 0;
}
#echarts-container{
    margin-top: -10px;
    margin-bottom: 20px;
}
